<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>后台管理</title>
</head>
<frameset rows="*" cols="200,*" framespacing="0" frameborder="NO" border="0">
<frame src="/admin/menu/" name="leftFrame" scrolling="yes" noresize="">
<frameset rows="*" cols="*" framespacing="0" frameborder="NO" border="0">
<frame src="/admin/plist/" name="mainFrame" scrolling="auto">
</frameset>
</frameset>
<noframes>&lt;body&gt;&lt;/body&gt;
</noframes>
</html>