<html>
<head>
<title>管理员登陆</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

</head>
<body leftmargin="20" topmargin="20" marginwidth="20" marginheight="20"  style="table-layout:fixed; word-break:break-all">
<form name="form1" method="post" action="">
<table width="300" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" style="margin-top:200px;">
<tr> 
<td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr> 
<td colspan="2" align="center" bgcolor="#F3F3F3">
<B>管 理 登 陆</B></td></tr>
<tr> 
<td width="31%" align="right">用户名：</td>
<td width="69%"><input type="text" name="username"></td></tr>
<tr> 
<td align="right">密码：</td>
<td><input type="password" name="password"></td>
</tr>
<tr align="center"> 
<td colspan="2"> <input type="submit" name="Submit" value="提交" class="button">
 <input type="reset" name="Submit2" value="重置" class="button">
</td></tr></table></td></tr></table></form></body>
</html>