$def with (post, form)
<style type="text/css">
#epiceditor_container{
  height:450px;
}
</style>

<div id="main-content">
<h1>编辑 <span>$form.d.title</span> (<a target="_blank" href="http://wowubuntu.com/markdown">采用Markdown</a>)</h1>

<form action="" method="post">
$:form.render()
</form>

<form style="text-align:center;" action="/delete/$post.id" method="post" onsubmit="return delConfirm()">
    <input id="delete-btn" type="submit" value="删除本文档"/>
</form>
<script charset="utf-8" src="/static/js/epiceditor/js/epiceditor.min.js"></script>
<script type="text/javascript">
jQuery(function(){
	jQuery("#content").hide();
	jQuery("#content").after('<div id="epiceditor_container"></div>');
	var opts = {
			  container: 'epiceditor_container',
			  textarea: 'content',
			  basePath: '/static/js/epiceditor',
			  clientSideStorage: false,
			  localStorageName: 'epiceditor',
			  useNativeFullscreen: true,
			  parser: marked,
			  file: {
			    name: 'epiceditor',
			    defaultContent: '',
			    autoSave: 100
			  },
			  theme: {
			    base: '/themes/base/epiceditor.css',
			    preview: '/themes/preview/preview-dark.css',
			    editor: '/themes/editor/epic-dark.css'
			  },
			  button: {
			    preview: true,
			    fullscreen: true
			  },
			  focusOnLoad: false,
			  shortcut: {
			    modifier: 18,
			    fullscreen: 70,
			    preview: 80
			  },
			  string: {
			    togglePreview: '切换预览模式',
			    toggleEdit: '切换编辑模式',
			    toggleFullscreen: '全屏'
			  }
			}
	var editor = new EpicEditor(opts).load();
	
});
</script>
</div>