$def with (post, prev_post, next_post, login_user, logo_img, sub_title)
$var login_user :$login_user
$var pageno :1
$var logo_img : $logo_img
$var sub_title : $sub_title
<div class="box wid1000">
    <div class="block article">
        $code:
            cdate =  datefmt(post.createtime,'%d')
            cmonth = datefmt(post.createtime,'%m')
        <div class="side">
            <div class="day"><a href="/date/$cdate">$cdate</a></div>
            <div class="month"><a href="/month/$cmonth">$cmonth</a></div>
        $if login_user is not None:
            <div class="edit"><a href="/edit/$post.id">编辑</a></div>
        </div>
        <div class="main">
                <div class="content">
                    <div class="text">
                        <h2> <a href="/view/$post.id">
        $post.title
                       </a>
                       <div class="view-num">被喵了$post.view_num次</div></h2>
                       
                        <div class="summary">$:post.content</div>
                        <div class="tag">
                        $for tag in post.tags:
                            <a href="/tag/$tag.id">$tag.title</a>
                        </div>
                        
                    </div>
                </div>
                <div class="clear:both;">&nbsp;</div>
                <!-- UY BEGIN -->
<script type="text/javascript">
var uyan_config = {
   'du':'codecos.com'
};
</script>
                <div id="uyan_frame"></div>
                <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1794396"></script>
                <!-- UY END -->
        </div>

    </div>

    <div class="page">
        $if prev_post is None:
            <div class="prev disable">
                <span class="cap"></span>
                <span class="arrow"></span>
                <span class="title">上一篇</span>
            </div>
        $else:
            <div class="prev active">
                <a href="/view/$prev_post.id" style="cursor: pointer; width: 20px;">
                    <span class="cap"></span>
                    <span class="arrow"></span>
                    <span class="title" style="display: none;">上一篇</span>
                </a>
            </div>
        $if next_post is None:
            <div class="next disable">
                <span class="cap"></span>
                <span class="arrow"></span>
                <span class="title">下一篇</span>
            </div>
        $else:
            <div class="next active">
                <a href="/view/$next_post.id" style="cursor: pointer; width: 20px;">
                    <span class="cap"></span>
                    <span class="arrow"></span>
                    <span class="title" style="display: none;">下一篇</span>
                </a>
            </div>
    </div>

</div>