<aside class="sidebar">
	<div class="sidebar-fixed">
	<div class="block">
		<h3>随机文章</h3>
		<ul>
%for post in page.randPostList:
          <li><a href="/view/${post.id}">${post.title}</a></li>
%endfor
		</ul>
	</div>
		<div class="block">
		<h3>最近评论</h3>
		<ul>
<!-- UYAN NEW COMMENT BEGIN -->
<div id="uyan_newcmt_unit"></div>
<!-- UYAN NEW COMMENT END -->
		</ul>
	</div>
	<div class="block bicolumn">
		<h3>标签</h3>
		<div class="tag-cloud">
        <%
          def tag_fontsize(tag):
              fontsize = tag['count']
              fontsize= 12 if fontsize == 0 or fontsize == 1 else fontsize + 11
              fontsize = 32 if fontsize > 32 else fontsize
              if fontsize > 24:
                  return "font-size:%dpx;font-weight:bold" %(fontsize)
              else:
                  return "font-size:%dpx;" %(fontsize)

        %>
        %for tag in page.tagCloud:
        <div style="${tag_fontsize(tag)}"><a href="/tag/${tag['id']}">${tag['title']}</a></div>
        %endfor
        </div>
	</div>
<div class="clear"></div>
	<div class="block bicolumn block-s"><h3>文章归档</h3>
			<ul>
            %for arch in page.archiveList:
				<li><a href="/archive/${arch.month_arch}">${arch.month_arch} (${arch.cid})</a></li>
            %endfor
			</ul>
	</div>
<div class="clear"></div>
<div class="block links bicolumn"><h3>友情链接</h3>
	<ul>
    <li><a target="_blank" href="http://www.blogjava.net/vagasnail">小D</a></li>
    <li><a target="_blank" href="http://www.cppblog.com/kevinlynx">kevinlynx</a></li>
    <li><a target="_blank" href="http://blog.csdn.net/cping1982">Java究竟怎么玩</a></li>
    <li><a target="_blank" href="http://www.codecho.com/myworks/">代码回音</a></li>
    <li><a target="_blank" href="http://www.yeolar.com">yeolar</a></li>
    <li><a target="_blank" href="http://www.quke.org/listPosts/python.html">趣客（放糖的绿豆汤）</a></li>
    <li><a target="_blank" href="http://wiki.woodpecker.org.cn/moin/WxPythonInAction">WxPythonInAction</a></li>
    <li><a target="_blank" href="http://blog.leezhong.com">无网不剩</a></li>
    <li><a target="_blank" href="http://www.csser.com/">csser前端社区</a></li>
	</ul>
</div>
<div class="clear"></div>
<div class="block"><h3>搜索</h3>
	<form name="keyform" action="/search" class="head-search" method="get" onsubmit="return doSearch(this)">
		<input id="search-input" type="text" name="keyword" class="inputbox" value="搜索..." onfocus="if (value ==&#39;搜索...&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;搜索...&#39;}">
	</form>
</div>
<div class="clear"></div>
<div class="block"><h3>其它</h3>
<ul>
<li>
<iframe src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=vagasnail&style=2&t=1375948160340&f=0" frameborder="0" scrolling="auto" width="136" height="38" marginwidth="0" marginheight="0" allowtransparency="true"></iframe>
</li>
% if page.login_user is not None:
<li><a class="boprt12" style="" href="/admin/logout/"><em>注销</em></a></li>
%else:
<li><a class="boprt11" href="/admin/login/"><em>登陆</em></a></li>
%endif
</ul>
</div>
</div>
</aside>