<%include file="header.html"/>
<section id="content">
    <article class="post">
        <div class="info">
                %if page.login_user is not None:
                <span><a href="/admin/edit/${page.post.id}">编辑</a></span>
                %endif
                <span><strong>${page.post.view_num}</strong>次阅读</span>
         <!-- UYAN COUNT BEGIN -->
         <a href="/view/${page.post.id}" id="uyan_count_unit" du="codecos.com"><strong>0</strong>条评论</a>
          <!-- UYAN COUNT END -->
        </div>
        <div class="date">
                <span class="day">${page.datefmt(page.post.createtime,'%d')}</span>
                <span class="time">${page.datefmt(page.post.createtime,'%b')}</span>
                <span class="year">${page.datefmt(page.post.createtime,'%Y')}</span>
        </div>
        <header>
            <h2>${page.post.title}</h2>
        </header>
        <div class="con">
            ${page.post.content}
            <div style="clear:both">&nbsp;</div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a href="http://www.jiathis.com/share?uid=1794396" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1355186795124515" charset="utf-8"></script>
<!-- JiaThis Button END -->
        </div>

    </article>
    <div class="postunder">
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<!-- UY END -->
    </div>
        <div class="other-posts">
           % if page.prevPost is not None:
               <div class="prev">上一篇：<a href="/view/${page.prevPost.id}">${page.prevPost.title}</a></div>
           % else:
               <div class="prev">上一篇：没有了</div>
           % endif
           % if page.nextPost is not None:
               <div class="next">下一篇：<a href="/view/${page.nextPost.id}">${page.nextPost.title}</a></div>
           % else:
               <div class="next">下一篇：没有了</div>
           % endif
        </div>
</section>
<%include file="sidebar.html"/>
<%include file="footer.html"/>

